<% @users.each do |user| %>
  <div class="container">
    <%= div_for user do %>
      <div class="row">
        <div class="col-md-4 offset-md-4 user-block">
          <div class="row">
            <div class="col-md-2">
            <%= gravatar(user) %>
            </div>
            <div class="col-md-4">
              <a href="<%= user_path(user) %>" class="btn btn-outline-primary btn-block" id="show-user-button-<%= user.id %>">
                <%= user.username %>
              </a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

